<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de Zapatos</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Zapatería</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="productDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Productos
                </a>
                <div class="dropdown-menu" aria-labelledby="productDropdown">
                    <a class="dropdown-item" th:href="@{/products/list}">Listado de Productos</a>
                    <a class="dropdown-item" th:href="@{/products/create-form}">Agregar Producto</a>
                    <a class="dropdown-item" th:href="@{/products/edit-form/{id}}">Actualizar Producto</a>
                    <div class="dropdown-divider"></div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="customerDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Clientes
                </a>
                <div class="dropdown-menu" aria-labelledby="customerDropdown">
                    <a class="dropdown-item" th:href="@{/customers/list}">Listado de clientes</a>
                    <a class="dropdown-item" th:href="@{/customers/create-form}">Agregar cliente</a>
                    <a class="dropdown-item" th:href="@{/customers/edit-form/{id}}">Actualizar datos del cliente</a>
                    <div class="dropdown-divider"></div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="orderDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Órdenes
                </a>
                <div class="dropdown-menu" aria-labelledby="orderDropdown">
                    <a class="dropdown-item" th:href="@{/orders/list}">Listado de Órdenes</a>
                    <a class="dropdown-item" th:href="@{/orders/create-form}">Crear Órden</a>
                    <a class="dropdown-item" th:href="@{/orders/edit-form/{id}}">Actualizar Órden</a>
                    <div class="dropdown-divider"></div>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-3">
    <h1>Bienvenido a la Tienda de Zapatos</h1>

    <!-- Contenido principal -->
    <!-- Puedes agregar aquí el contenido principal de tu página de inicio -->

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
