<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IShop - Bienvenido</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .jumbotron {
            background-color: #007bff;
            color: #fff;
            padding: 2rem;
        }

        .feature-box {
            border: 1px solid #007bff;
            border-radius: 5px;
            padding: 20px;
            margin: 20px 0;
            text-align: center;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .feature-box:hover {
            background-color: #007bff;
            color: #fff;
        }
        .navbar-brand img {
            width: 50px;
            height: auto;

        }

    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><img src="https://e7.pngegg.com/pngimages/522/512/png-clipart-e-commerce-2018-online-shopping-amazon-com-supermercado-text-retail-thumbnail.png" alt="Logo de IShop"></a>
    <a class="navbar-brand" href="#">IShop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/home}">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="productDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Productos
                </a>
                <div class="dropdown-menu" aria-labelledby="productDropdown">
                    <a class="dropdown-item" th:href="@{/products/list}">Listado de Productos</a>
                    <a class="dropdown-item" th:href="@{/products/create-form}">Agregar Producto</a>
                    <a class="dropdown-item" th:href="@{/products/list}">Actualizar Producto</a>
                    <div class="dropdown-divider"></div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="customerDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Clientes
                </a>
                <div class="dropdown-menu" aria-labelledby="customerDropdown">
                    <a class="dropdown-item" th:href="@{/customers/list}">Listado de clientes</a>
                    <a class="dropdown-item" th:href="@{/customers/create-form}">Agregar cliente</a>
                    <a class="dropdown-item" th:href="@{/customers/list}">Actualizar datos del cliente</a>
                    <div class="dropdown-divider"></div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="orderDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Órdenes
                </a>
                <div class="dropdown-menu" aria-labelledby="orderDropdown">
                    <a class="dropdown-item" th:href="@{/orders/list}">Listado de Órdenes</a>
                    <a class="dropdown-item" th:href="@{/orders/create-form}">Crear Órden</a>
                    <a class="dropdown-item" th:href="@{/orders/list}">Actualizar Órden</a>
                    <div class="dropdown-divider"></div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="orderProductDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Facturas
                </a>
                <div class="dropdown-menu" aria-labelledby="orderProductDropdown">
                    <a class="dropdown-item" th:href="@{/order-products/list}">Listado de Facturas</a>
                    <a class="dropdown-item" th:href="@{/order-products/create-form}">Agregar nueva Factura</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-3">
    <div class="jumbotron">
        <h1 class="display-4">Bienvenido a IShop</h1>
        <p class="lead">¡Aquí encontrarás los mejores productos al mejor precio!</p>
    </div>

    <div class="row">

        <div class="col-lg-4">
            <div class="feature-box" onclick="location.href='/products/list';">
                <h3> Productos</h3>
                <p>Descubre nuestra variedad de productos.</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="feature-box" onclick="location.href='/customers/list';">
                <h3>Clientes</h3>
                <p>Explora nuestra base de clientes.</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="feature-box" onclick="location.href='/orders/list';">
                <h3> Órdenes</h3>
                <p>Visualiza las órdenes realizadas.</p>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="feature-box" onclick="location.href='/products/create-form';">
                <h3>Crear Producto</h3>
                <p>Añade un nuevo producto a nuestra colección.</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="feature-box" onclick="location.href='/customers/create-form';">
                <h3>Crear Cliente</h3>
                <p>Registra a un nuevo cliente en nuestra base de datos.</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="feature-box" onclick="location.href='/orders/create-form';">
                <h3>Crear Órden</h3>
                <p>Realiza una nueva orden de productos.</p>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="feature-box" onclick="location.href='/order-products/list';">
                <h3>Facturas</h3>
                <p>Explora la lista de Facturas</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="feature-box" onclick="location.href='/order-products/create-form';">
                <h3>Agregar Factura</h3>
                <p>Añade una nueva factura.</p>
            </div>
        </div>


    </div>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
